// Home page styles

@import "mixins/all";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

.home-toolbar {
  @include pie-clearfix;
  margin-bottom: lines(0.5);
  border-bottom: 1px solid $border;

  @include media(tablet) {
    margin-bottom: lines(1);
  }
}

.home-grid {
  position: relative;
}

.home-toolbar-button-group {
  @include button-group;
  margin-bottom: lines(0.5);

  // Leave room for filters button on the left side
  width: 100%;

  &.filters-enabled {
    width: 50%;
    padding-left: lines(0.5 / 2);
  }

  @include media(tablet) {
    &, &.filters-enabled {
      float: right;
      width: auto;
    }
  }
}

.home-toolbar-button-group-button {
  @include button($link);
  @include button-group-button;
  @include ellipsis;

  // Notice: hard-coded for three buttons
  width: 33.3%;

  @include media(tablet) {
    width: auto;
    min-width: lines(5);
  }
}

.home-toolbar-button-text {
  display: none;

  @include media(tablet) {
    margin-left: lines(0.25);
    display: inline-block;
  }
}

/**
  Hidden on mobile if this class is present. Doesn't affect
  on desktop
*/
.home-toolbar-filters-mobile-hidden {
  display: none;

  @include media(tablet) {
    display: block;
  }
}

.home-toolbar-show-filters-button-container {
  width: 50%;
  float: left;
  padding-right: lines(0.5 / 2);
}

.home-toolbar-show-filters-button {
  @include button($link);
  @include button-group-button-padding;
  @include neutral-button-color;
  @include selected-button-color;
  @include ellipsis;
  width: 100%;
  margin: 0;
  line-height: $default-button-line-height;

  @include media(tablet) {
    display: none;
  }
}

.home-map > .map {
  height: lines(10.5); // Magical number, this just looks good on iPhone

  @include media(tablet) {
    height: 30em;
  }
}

.home-list-item {
  position: relative;
  margin-bottom: lines(0.5);
  border-bottom: 1px solid $border;
  min-height: lines(3.5);

  @include media(tablet) {
    padding-bottom: lines(1);
    margin-bottom: lines(1);
    height: lines(6);
  }
}

$image-width: lines(7.5); // FIXME
$image-height: image-height($image-width);
$image-padding: lines(1);
$home-list-image-size-mobile: lines(3);
$home-list-image-padding-mobile: lines(0.5);
.home-list-image-container {
  position: absolute;
  top: 0;
  left: 0;
}

.home-list-image-container-desktop {
  @extend .home-list-image-container;
  height: $image-height;
  width: $image-width;
  display: none;

  @include media(tablet) {
    display: block;
  }
}

.home-list-image-container-mobile {
  @extend .home-list-image-container;
  width: $home-list-image-size-mobile;
  height: $home-list-image-size-mobile;
  display: block;

  @include media(tablet) {
    display: none;
  }
}

.home-list-image {
  width: 100%;
  height: 100%;
  display: block;
  @include border-radius($default-border-radius);
}

.home-no-image {
  text-align: center;
  padding-top: lines(2);
  background: $highlight;
  height: 100%;
  width: 100%;
  // FIXME Tee parempi no image
}

.home-list-details-with-image {
  margin-left: $home-list-image-size-mobile + $home-list-image-padding-mobile;

  @include media(tablet) {
    margin-left: $image-width + $image-padding;
  }
}

$home-list-avatar-size: em(40);
$home-list-avatar-size-mobile: em(30);
$home-list-avatar-padding: lines(0.25);
.home-list-title,
.browsing-list-item-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  @include normal-type;
  line-height: lines(0.65);
  padding-bottom: lines(0.25);

  @include media(tablet) {
    @include big-type;
  }

  // Add bottom margin so that the avatar fits there nicely
  @include media(desktop) {
    padding-bottom: (ems-to($home-list-avatar-size, $big-type) + (2 * ems-to($home-list-avatar-padding, $big-type)) - em(3));
  }

}
.browsing-list-item-title {
  padding-bottom: 0;
}

.home-share-type-link,
.browsing-list-item-share-type-link {
  @include share-type-link;
  // Magic number, this just looks better
  $padding-fine-tuning: 4;
  padding: em(4) em(8);

  position: relative;
  display: none;

  @include media(tablet) {
    display: inline;
    top: em($padding-fine-tuning * -1);
  }
}

.home-list-details-right {
  width: 142px;
  float: right;
  display: none;
  margin-left: lines(1);
  @include media(desktop) {
    display: block;
  }
}

.home-list-avatar,
.browsing-list-item-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: $home-list-avatar-size;

  img {
    @include border-radius($default-border-radius);
    display: block;
    width: 100%;
  }

  display: none;

  @include media(large-mobile) {
    display: block;
  }

}

.home-list-author {
  vertical-align: top;
  position: absolute;
  bottom: lines(0.5);

  @include media(tablet) {
    bottom: lines(1);
  }
}

.home-list-author-with-listing-image,
.browsing-list-item-author-with-listing-image {
  left: 0;

  @include media(large-mobile) {
    left: $home-list-image-size-mobile + $home-list-image-padding-mobile;
  }

  @include media(tablet) {
    left: $image-width + $image-padding;
  }
}

.home-list-author-without-listing-image,
.browsing-list-item-author-without-listing-image {
  left: 0;
}

.home-list-author-details,
.browsing-list-item-author-details {
  float: left;
  margin-left: $home-list-avatar-size + (2 * $home-list-avatar-padding);
  height: 40px;
  line-height: 22px;
  max-width: lines(10);

  display: none;

  @include media(large-mobile) {
    display: block;
  }
}

.home-list-author-reviews,
.browsing-list-item-author-reviews {
  @include small-type;
}

.home-list-price-mobile,
.browsing-list-item-price-mobile {
  margin-bottom: lines(0.25, 24);
  @include media(large-mobile) {
    text-align: right;
    right: 0;
    padding-top: 10px;
    bottom: lines(0.5, 36);
  }
  @include media(tablet) {
    bottom: lines(1, 36);
  }
  @include media(desktop) {
    display: none;
  }
}

.browsing-list-item-price-mobile {
  right: 0;
}

.home-list-price-value-mobile,
.browsing-list-item-price-value-mobile,
.home-list-shape-value-mobile,
.browsing-list-item-shape-value-mobile {
  font-size: em(24);
  & > .smaller {
    font-size: em(18);
  }
  @include media(large-mobile) {
    font-size: em(24);
    & > .smaller {
      font-size: em(24);
    }
  }
}

.home-list-price-mobile-with-listing-image {
  @include media(large-mobile) {
    left: auto;
  }
}

.home-list-price-mobile-without-listing-image {
  @include media(large-mobile) {
    left: auto;
  }
}

.home-list-price,
.browsing-list-item-price {
  text-align: right;
}

.home-list-item-price-value,
.browsing-list-item-price-value {
  font-size: em(32);
  line-height: 1;
  font-weight: 400;
}

.home-list-listing-shape-value,
.browsing-list-item-listing-shape-value {
  font-size: em(24);
  line-height: 1;
  font-weight: 400;
}

.home-list-price-quantity,
.browsing-list-item-price-quantity {
  @include ellipsis;
}

.home-no-listings {
  @include border-radius($default-border-radius);
  padding: lines(0.5) lines(1);
  background: $highlight;
}

.home-categories-link {
  display: block;
  color: $body;
  text-transform: uppercase;

  &.selected {
    font-weight: bold;
  }
}

.home-categories-main {
  @extend .home-categories-link;

  &.selected.has-subcategories {
    border-bottom: 1px solid $border;
  }
}

.home-categories-sub {
  @extend .home-categories-link;
  font-size: 14px;
  margin-left: lines(0.5);
}

.home-toolbar-toggle-container {
  margin-bottom: lines(0.5);
}

#pageless-loader {
  padding-top: lines(0.5);
  clear: both;
}

/* Filters */

.custom-filter {
  margin-bottom: lines(1);
}

.custom-filter-title {
  font-weight: 700;
  @include title-border;
}

.custom-filter-options {
  &.scrollable {
    max-height: 180px;
    overflow-y: scroll;
  }
}

.custom-filter-checkbox-label {
  margin: 0;
}

.custom-filter-checkbox-label-text {
  font-weight: 400;
  margin-left: lines(0.125);
}


////////////////////////////////////////////////
// New list item elements (distance included) //
////////////////////////////////////////////////

.browsing-list-item {
  position: relative;
  padding-bottom: lines(0.5);
  margin-bottom: lines(0.5);
  border-bottom: 1px solid $border;
  min-height: lines(3.5);

  @include media(tablet) {
    padding-bottom: lines(1);
    margin-bottom: lines(1);
    min-height: lines(6);
  }
}

.browsing-list-item-image-container {
  position: absolute;
  width: $home-list-image-size-mobile;
  height: $home-list-image-size-mobile;

  @include media(tablet) {
    height: $image-height;
    width: $image-width;
  }
}

.browsing-list-item-image-desktop {
  display: none;
  @include media(tablet) {
    display: block;
  }
}

.browsing-list-item-image-mobile {
  display: block;
  @include media(tablet) {
    display: none;
  }
}

.browsing-list-item-details {
  height: 100%;
  min-height: $home-list-image-size-mobile;
  padding-bottom: 40px;
  position: relative;
  margin-left: $home-list-image-size-mobile + $home-list-image-padding-mobile;

  @include media(tablet) {
    min-height: $image-height;
    margin-left: $image-width + $image-padding;
  }
}

.browsing-list-item-details-right {
  width: 142px;
  float: right;
  display: none;
  margin-left: lines(1);
  @include media(desktop) {
    display: block;
  }
}

.browsing-list-item-details-container {
  margin-left: $image-padding;

  @include media(tablet) {
    margin-left: $home-list-image-padding-mobile;
  }
}

.browsing-list-item-distance {
  @include small-type;

  @include media(tablet) {
    @include normal-type;
  }
}

.browsing-list-item-author {
  vertical-align: top;
  position: absolute;
  left: 0px;
  bottom: 0;
}

//////////////////////////////////////////////////
// Fix for fastclick & google autocomplete bug  //
// https://github.com/ftlabs/fastclick/pull/347 //
//////////////////////////////////////////////////

.pac-item span {
  pointer-events: none;
}

.left_login {
  border: 1px solid #FF3737;
  padding: 9px 34px;
  background: #fff;
  color: #FF3737;
  border-radius: 4px;
  margin-left: 15px;
  height: auto;
  line-height: normal;
  &:hover {
    color: #fff;
    background: #FF3737;
  }
}

.right_login {
  border: 1px solid #FF3737;
  padding: 9px 34px;
  background: #FF3737;
  color: #fff;
  border-radius: 4px;
  margin-left: 10px;
  height: auto;
  line-height: normal;
  &:hover {
    border: 1px solid #FF3737;
    background: #fff;
    color: #FF3737;
  }
}

.header-menu-container.hidden {
 display: none; 
}

.header-right.header-padding.visible-tablet.hidden {
  display: none !important;
}

.header.header.custom_header {
  height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  a#new-listing-link {
    margin: 0px;
    background: transparent;
    color: #040D33;
  }
  .header-left.header-logo-container {
    .header-logo {
      margin: 0px;
      height: auto;
      span.header-wide-logo-text.visible-tablet {
        height: auto;
        margin: 0px;
      }
    }
  }
}

.header-left.header-logo-container.left_searchbar {
  max-width: 42em;
  margin-left: 1.2em;
  width: 46%;
  border: 1px solid #AFB4B9;
  height: 40px;
  border-radius: 4px;
  @media (max-width: 992px) {
    margin-left: 0px;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .search-form-input {
    float: left;
    height: 38px;
    padding: 0px;
    width: 10%;
    .action-button {
      margin: 0px;
      background: transparent;
      color: #595C64;
      height: 38px;
      @media (max-width: 480px) {
        padding-left: 0px;
      }
      img {
        width: 21px;
      }
    }
  }
  .search-form-input.search-form-text-field {
    float: left;
    width: 90%;
    height: 100%;
    input {
      border: none;
      height: 100%;
      outline: none;
      min-height: 38px;
      padding-left: 15px;
    }
  }
}

.main_container {
  width: 100%;

  .hero_section_row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      width: 100%;
    }

    .left_data {
      width: 50%;
      background-image: asset-url('left_image.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 11.482vw 7.829vw 14.927vw 8.873vw;

      @media (max-width: 992px) {
        width: 100%;
        padding: 50px 12px;
      }
      .contain_data {
        margin: 0 auto;
        max-width: 40vw;
        
        @media (max-width: 992px) {
          width: 100%;
          max-width: 100%;
        }
      }
      .headline {
        font-family: 'NotoSans';
        font-weight: 700;
        font-size: 4.280vw;
        line-height: 6.420vw;
        color: #fff;
        margin: 0 0 0.313vw;

        @media screen and (max-width: 992px) {
          font-size: 28px;
          line-height: 1.2;
          text-align: center;
          margin: 0 0 12px;
        }
      }

      .semi-headline {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 2.088vw;
        line-height: 3.132vw;
        color: #293462;
        margin: 0 0 0.313vw;

        @media screen and (max-width: 992px) {
          text-align: center;
          font-size: 20px;
          line-height: 1.2;
          margin: 0 0 12px;
        }
      }

      .description {
        font-weight: 600;
        font-size: 0.835vw;
        line-height: 1.253vw;
        color: rgba(0, 0, 0, 0.9);

        @media screen and (max-width: 992px) {
          font-size: 16px;
          line-height: 1.3;
          font-weight: 400;
          text-align: center;
        }
      }
    }

    .right_data {
      width: 50%;
      //background-image: asset-url('right_image.png');
      background-position: 0 4px;
      background-repeat: no-repeat;
      background-size: 100% 100%;

      @media (max-width: 992px) {
        display: none;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.search_bar {
  background: #fff;
  display: flex;
  height: 3.236vw;
  padding: 0;
  border-radius: 0.209vw;
  margin-top: 5.428vw;

  @media screen and (max-width: 992px) {
    height: 42px;
    margin-top: 20px;
    border-radius: 4px;
  }

  .search_icon {
    width: 10%;
    .action-button {
      background: transparent;
      margin: 0;
      padding: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 1.775vw;

        @media screen and (max-width: 992px) {
          height: 16px;
        }
      }
    }
  }
  .input_search {
    width: 90%;

    input {
      outline: none;
      border: none;
      font-weight: 400;
      font-size: 1.044vw;
      line-height: 1.566vw;
      color: rgba(0, 0, 0, 0.7);
      flex: none;
      order: 0;
      flex-grow: 0;
      padding-left: 0.835vw;
      height: 100%;
      min-height: auto;

      @media screen and (max-width: 992px) {
        font-size: 16px;
        padding-left: 10px;
        line-height: 1;
      }
    }
  }
}


.home_wrapper {
  max-width: 82.359vw;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 6.628vw 0;

  @media screen and (max-width: 767px) {
    max-width: 100%;
    padding: 60px 12px;
  }

  .categories_section {
    .category_heading {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 3.027vw;
      line-height: 4.541vw;
      color: #040D33;
      margin-bottom: 2.088vw;

      @media screen and (max-width: 992px) {
        font-size: 21px;
        text-align: center;
        line-height: 1.2;
        margin: 0 0 20px;
      }
    }

    .grid_items {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 1.253vw;
      width: 100%;

      @media screen and (max-width: 992px) {
        gap: 20px;
      }

      .column-4 {
        width: calc(33.33% - 0.84vw);

        @media screen and (max-width: 767px) {
          width: 100%;
        } 
        @media screen and (min-width: 768px) and (max-width: 992px) {
          width: calc(50% - 10px);
        }
      }

      .category_frame {
        padding: 1.253vw;
        background: #FFFFFF;
        box-shadow: 0px 0px 0.522vw #eee;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 992px) {
          padding: 16px;
          box-shadow: 0px 0px 4px #eee;
        }

        .cat-image {
          width: 100%;
          img {
            width: 100%;
            height: 25vw;
            object-fit: cover;

            @media screen and (max-width: 992px) {
              height: 280px;
            }
          }
        }
        .text_content {
          font-weight: 600;
          font-size: 2.088vw;
          line-height: 3.132vw;
          color: #040D33;
          margin-top: 4.332vw;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media screen and (max-width: 992px) {
            font-size: 18px;
            margin-top: 30px;
            line-height: 1.2;
          }

          img {
            height: 0.835vw;

            @media screen and (max-width: 992px) {
              height: 16px;
            }
          }
        }
      }
    }
  }

  .low_content {
    max-width: 78.288vw;
    width: 100%;
    margin: 6.263vw auto;

    @media screen and (max-width: 992px) {
      max-width: 100%;
      margin: 60px auto;
    }
  }
}




.toolkit_section_hero {
  padding: 5.898vw 2.088vw;
  position: relative;
  border-radius: 0.522vw;
  background-image: asset_url('tootlkit.png');
  background-size: 35.752vw 100%;
  background-repeat: no-repeat;
  overflow: hidden;

  @media screen and (max-width: 992px) {
    padding: 40px 20px;
    background-size: cover;
    border-radius: 10px;
  }

  &:before {
    content: '';
    background: linear-gradient(89.32deg, rgba(45, 21, 21, 0) 35.89%, #272109 45.77%, #000000 99.88%); filter: drop-shadow(0px 0.209vw 0.209vw rgba(0, 0, 0, 0.25));
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .hero_content {
    font-weight: 400;
    font-size: 1.461vw;
    line-height: 2.192vw;
    color: #FFFFFF;
    position: relative;
    width: 39.823vw;
    margin: 0 0 0 auto;

    @media screen and (max-width: 992px) {
      font-size: 16px;
      text-align: center;
      line-height: 1.3;
      width: 100%;
    }
  }
}

.city_browse {
  max-width: 63.205vw;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 992px) {
    max-width: 100%;
  }

  .header_text {
    font-weight: 400;
    font-size: 2.088vw;
    line-height: 3.132vw;
    text-align: center;
    color: #040D33;
    margin-bottom: 4.175vw;

    @media screen and (max-width: 992px) {
      font-size: 21px;
      line-height: 1.2;
      margin: 0 0 20px;
    }
  }

  .grid_cities {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2.088vw;
    width: 100%;

    @media screen and (max-width: 992px) {
      gap: 20px;
    }

    a:nth-child(1) .city_1 {
      background-image: asset_url('image1.png');
    }
    a:nth-child(2) .city_1 {
      background-image: asset_url('Roundedrectangle.png');
    }
    a:nth-child(3) .city_1 {
      background-image: asset_url('image2_grid.png');
    }
    a:nth-child(4) .city_1 {
      background-image: asset_url('image13.png');
    }
    a:nth-child(5) .city_1 {
      background-image: asset_url('image3-3.png');
    }
    a:nth-child(6) .city_1 {
      background-image: asset_url('image3-4.png');
    }
    a:nth-child(7) .city_1 {
      background-image: asset_url('image3-5.png');
    }
    a:nth-child(8) .city_1 {
      background-image: asset_url('image3-6.png');
    }
    a:nth-child(9) .city_1 {
      background-image: asset_url('image3-7.png');
    }
    
    a {
      width: calc(33.33% - 1.4vw);
      height: 13.152vw;

      @media screen and (max-width: 767px) {
        width: 100%;
        height: 160px;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        width: calc(50% - 10px);
        height: 200px;
      }
    }
    .city_1 {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 0.522vw;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 992px) {
        border-radius: 10px;
      }
    }
    .text_content {
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      border-radius: 10px;
      font-weight: 600;
      font-size: 2.088vw;
      line-height: 3.132vw;
      color: #fff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      @media screen and (max-width: 992px) {
        font-size: 24px;
        line-height: 1.2;
      }
    }
  }
}

.tools_rent_section {
  background: rgba(4, 0, 0, 0.9);
  padding: 2.088vw 0;

  @media screen and (max-width: 992px) {
    padding: 20px 12px;
  }

  .both_content {
    max-width: 82.359vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.010vw;

    @media screen and (max-width: 992px) {
      max-width: 100%;
      flex-direction: column-reverse;
      gap: 40px;
    }

    .lefttext-area {
      max-width: 35.021vw;
      width: 100%;

      @media screen and (max-width: 992px) {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .content_header_text {
        font-weight: 600;
        font-size: 3.027vw;
        line-height: 4.541vw;
        color: #FFFFFF;

        @media screen and (max-width: 992px) {
          font-size: 26px;
          line-height: 1.3;
        }
      }
      .bottom_icon {
        width: 100%;
        text-align: center;
        img {
          width: 18.424vw;

          @media screen and (max-width: 992px) {
            width: 280px;
          }
        }
      }
      .bottom_small_text {
        font-weight: 400;
        font-size: 1.044vw;
        line-height: 1.566vw;
        color: #FDFDFD;
        margin-top: 1.253vw;

        @media screen and (max-width: 992px) {
          font-size: 18px;
          line-height: 1.3;
          margin-top: 15px;
        }
      }
      .rent_button {
        background: #FF3737;
        border-radius: 0.209vw;
        color: #fff;
        width: 8.82vw;
        height: 2.088vw;
        margin-top: 2.088vw;
        font-weight: 600;
        font-size: 0.835vw;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 992px) {
          width: 100%;
          height: 40px;
          font-size: 16px;
          border-radius: 4px;
          margin-top: 20px;
          max-width: 300px;
        }
      }
    }
    
    .work_img {
      width: 39.301vw;

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }
}

.community_content {
  .header_text_community {
    font-weight: 400;
    font-size: 1.461vw;
    line-height: 2.192vw;
    text-align: center;
    color: #040000;
    margin: 0 auto;
    max-width: 47.025vw;

    @media screen and (max-width: 992px) {
      font-size: 16px;
      line-height: 1.3;
      max-width: 100%;
    }
  }
}

.custom_footer {
  background: #040000;
  float: left;
  width: 100%;

  .footer_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 82.046vw;
    width: 100%;
    margin: 0 auto;
    padding: 4.175vw 0;
    gap: 6.889vw;

    @media screen and (max-width: 992px) {
      max-width: 100%;
      padding: 40px 12px;
      flex-direction: column;
      gap: 30px;
    }

    .logo {
      img {
        height: 9.916vw;

        @media screen and (max-width: 992px) {
          height: auto;
        }
      }
    }

    .categories {
      color: #E3EDEB;
      
      .heading {
        font-weight: 400;
        font-size: 1.253vw;
        line-height: 32px;
        color: #E3EDEB;
        margin: 0 0 1.253vw;

        @media screen and (max-width: 992px) {
          font-size: 18px;
          margin: 0 0 12px;
        }
      }
      
      .category_link {
        color: #E3EDEB;
        padding: 0;
        font-size: 1.044vw;
        line-height: 1.566vw;
        font-weight: 400;
        margin: 0 0 0.835vw;

        @media screen and (max-width: 992px) {
          font-size: 16px;
          line-height: 1.2;
          margin: 0 0 10px;

          &:nth-last-of-type(1) {
            margin: 0;
          }
        }
        &:nth-last-of-type(1) {
          margin: 0;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .quick_links {
    color: #fff;
    
    .link_head {
      font-weight: 400;
      font-size: 1.253vw;
      line-height: 32px;
      color: #E3EDEB;
      margin: 0 0 1.253vw;

      @media screen and (max-width: 992px) {
        font-size: 18px;
        margin: 0 0 12px;
      } 
    }
    
    .link1 {
      color: #E3EDEB;
      padding: 0;
      font-size: 1.044vw;
      line-height: 1.566vw;
      font-weight: 400;
      margin: 0 0 0.835vw;

      @media screen and (max-width: 992px) {
        font-size: 16px;
        line-height: 1.2;
        margin: 0 0 10px;

        &:nth-last-of-type(1) {
          margin: 0;
        }
      }
      &:nth-last-of-type(1) {
        margin: 0;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .social_contacts {
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  .social_links {
    display: flex;
    justify-content: flex-start;
    
    .insta_icon {
      margin: 0px 1.253vw 0px 0px;
      height: 1.67vw;

      @media screen and (max-width: 992px) {
        margin: 0px 24px 0px 0px;
        height: 20px;
      }
    }
  }
  .phone_contact {
    color: #fff;
    display: flex;
    margin-top: 1.253vw;
    align-items: center;

    @media screen and (max-width: 992px) {
      margin-top: 24px;
    }
    
    img {
      width: 0.678vw;
      height: 1.148vw;

      @media screen and (max-width: 992px) {
        width: auto;
        height: 19px;
      }
      
      &.email {
        width: 1.044vw;
        height: 0.835vw;

        @media screen and (max-width: 992px) {
          width: auto;
          height: 22px;
        }
      }
    }
    
    .contact {
      font-weight: 400;
      font-size: 0.835vw;
      line-height: 1.253vw;
      margin-left: 0.418vw;

      @media screen and (max-width: 992px) {
        font-size: 18px;
        line-height: 1.2;
        margin-left: 10px;
      }
      
      a {
        color: #fff;
      }
    }
  }
}

a#inbox-link {
  line-height: normal;
  height: auto; 
}

.header-user-toggle.header-hover #header-user-mobile-anchor {
  .left {
    img {
      margin: 0px;
    }
  }
  .header-text-link {
    height: auto;
    line-height: 36px;
  }
}

.subscribe_content {
  display: flex;
  margin-top: 1.253vw;

  @media screen and (max-width: 992px) {
    margin-top: 24px;
    flex-direction: column;
  }

  input {
    font-weight: 400;
    font-size: 0.835vw;
    line-height: 1.253vw;
    color: #BFC2C2;
    height: 2.14vw;
    border: 1px solid #FFFFFF;
    border-radius: 0.209vw;
    outline: none;
    margin-right: 0.835vw;
    background: transparent;
    width: 16.075vw;

    @media screen and (max-width: 992px) {
      width: 100%;
      font-size: 16px;
      padding: 10px;
      height: 42px;
      margin: 0 0 12px;
      border-radius: 4px;
    }
  }

  button {
    margin: 0px;
    background: #FF3737;
    border-radius: 0.209vw;
    width: 5.376vw;
    font-size: 0.835vw;
    padding: 0;

    @media screen and (max-width: 992px) {
      width: 100%;
      height: 40px;
      font-size: 16px;
      border-radius: 4px;
    }
  }
}

.center_contant_last {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.731vw;
  line-height: 1.096vw;
  color: #BFC2C2;
  margin: 0 0 4.175vw;

  @media screen and (max-width: 992px) {
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 40px;
  }
}
