// Home page styles

@import "mixins/all";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

.home-toolbar {
  @include pie-clearfix;
  margin-bottom: lines(0.5);
  border-bottom: 1px solid $border;

  @include media(tablet) {
    margin-bottom: lines(1);
  }
}

.home-grid {
  position: relative;
}

.home-toolbar-button-group {
  @include button-group;
  margin-bottom: lines(0.5);

  // Leave room for filters button on the left side
  width: 100%;

  &.filters-enabled {
    width: 50%;
    padding-left: lines(0.5 / 2);
  }

  @include media(tablet) {
    &, &.filters-enabled {
      float: right;
      width: auto;
    }
  }
}

.home-toolbar-button-group-button {
  @include button($link);
  @include button-group-button;
  @include ellipsis;

  // Notice: hard-coded for three buttons
  width: 33.3%;

  @include media(tablet) {
    width: auto;
    min-width: lines(5);
  }
}

.home-toolbar-button-text {
  display: none;

  @include media(tablet) {
    margin-left: lines(0.25);
    display: inline-block;
  }
}

/**
  Hidden on mobile if this class is present. Doesn't affect
  on desktop
*/
.home-toolbar-filters-mobile-hidden {
  display: none;

  @include media(tablet) {
    display: block;
  }
}

.home-toolbar-show-filters-button-container {
  width: 50%;
  float: left;
  padding-right: lines(0.5 / 2);
}

.home-toolbar-show-filters-button {
  @include button($link);
  @include button-group-button-padding;
  @include neutral-button-color;
  @include selected-button-color;
  @include ellipsis;
  width: 100%;
  margin: 0;
  line-height: $default-button-line-height;

  @include media(tablet) {
    display: none;
  }
}

.home-map > .map {
  height: lines(10.5); // Magical number, this just looks good on iPhone

  @include media(tablet) {
    height: 30em;
  }
}

.home-list-item {
  position: relative;
  margin-bottom: lines(0.5);
  border-bottom: 1px solid $border;
  min-height: lines(3.5);

  @include media(tablet) {
    padding-bottom: lines(1);
    margin-bottom: lines(1);
    height: lines(6);
  }
}

$image-width: lines(7.5); // FIXME
$image-height: image-height($image-width);
$image-padding: lines(1);
$home-list-image-size-mobile: lines(3);
$home-list-image-padding-mobile: lines(0.5);
.home-list-image-container {
  position: absolute;
  top: 0;
  left: 0;
}

.home-list-image-container-desktop {
  @extend .home-list-image-container;
  height: $image-height;
  width: $image-width;
  display: none;

  @include media(tablet) {
    display: block;
  }
}

.home-list-image-container-mobile {
  @extend .home-list-image-container;
  width: $home-list-image-size-mobile;
  height: $home-list-image-size-mobile;
  display: block;

  @include media(tablet) {
    display: none;
  }
}

.home-list-image {
  width: 100%;
  height: 100%;
  display: block;
  @include border-radius($default-border-radius);
}

.home-no-image {
  text-align: center;
  padding-top: lines(2);
  background: $highlight;
  height: 100%;
  width: 100%;
  // FIXME Tee parempi no image
}

.home-list-details-with-image {
  margin-left: $home-list-image-size-mobile + $home-list-image-padding-mobile;

  @include media(tablet) {
    margin-left: $image-width + $image-padding;
  }
}

$home-list-avatar-size: em(40);
$home-list-avatar-size-mobile: em(30);
$home-list-avatar-padding: lines(0.25);
.home-list-title,
.browsing-list-item-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  @include normal-type;
  line-height: lines(0.65);
  padding-bottom: lines(0.25);

  @include media(tablet) {
    @include big-type;
  }

  // Add bottom margin so that the avatar fits there nicely
  @include media(desktop) {
    padding-bottom: (ems-to($home-list-avatar-size, $big-type) + (2 * ems-to($home-list-avatar-padding, $big-type)) - em(3));
  }

}
.browsing-list-item-title {
  padding-bottom: 0;
}

.home-share-type-link,
.browsing-list-item-share-type-link {
  @include share-type-link;
  // Magic number, this just looks better
  $padding-fine-tuning: 4;
  padding: em(4) em(8);

  position: relative;
  display: none;

  @include media(tablet) {
    display: inline;
    top: em($padding-fine-tuning * -1);
  }
}

.home-list-details-right {
  width: 142px;
  float: right;
  display: none;
  margin-left: lines(1);
  @include media(desktop) {
    display: block;
  }
}

.home-list-avatar,
.browsing-list-item-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: $home-list-avatar-size;

  img {
    @include border-radius($default-border-radius);
    display: block;
    width: 100%;
  }

  display: none;

  @include media(large-mobile) {
    display: block;
  }

}

.home-list-author {
  vertical-align: top;
  position: absolute;
  bottom: lines(0.5);

  @include media(tablet) {
    bottom: lines(1);
  }
}

.home-list-author-with-listing-image,
.browsing-list-item-author-with-listing-image {
  left: 0;

  @include media(large-mobile) {
    left: $home-list-image-size-mobile + $home-list-image-padding-mobile;
  }

  @include media(tablet) {
    left: $image-width + $image-padding;
  }
}

.home-list-author-without-listing-image,
.browsing-list-item-author-without-listing-image {
  left: 0;
}

.home-list-author-details,
.browsing-list-item-author-details {
  float: left;
  margin-left: $home-list-avatar-size + (2 * $home-list-avatar-padding);
  height: 40px;
  line-height: 22px;
  max-width: lines(10);

  display: none;

  @include media(large-mobile) {
    display: block;
  }
}

.home-list-author-reviews,
.browsing-list-item-author-reviews {
  @include small-type;
}

.home-list-price-mobile,
.browsing-list-item-price-mobile {
  margin-bottom: lines(0.25, 24);
  @include media(large-mobile) {
    text-align: right;
    right: 0;
    padding-top: 10px;
    bottom: lines(0.5, 36);
  }
  @include media(tablet) {
    bottom: lines(1, 36);
  }
  @include media(desktop) {
    display: none;
  }
}

.browsing-list-item-price-mobile {
  right: 0;
}

.home-list-price-value-mobile,
.browsing-list-item-price-value-mobile,
.home-list-shape-value-mobile,
.browsing-list-item-shape-value-mobile {
  font-size: em(24);
  & > .smaller {
    font-size: em(18);
  }
  @include media(large-mobile) {
    font-size: em(24);
    & > .smaller {
      font-size: em(24);
    }
  }
}

.home-list-price-mobile-with-listing-image {
  @include media(large-mobile) {
    left: auto;
  }
}

.home-list-price-mobile-without-listing-image {
  @include media(large-mobile) {
    left: auto;
  }
}

.home-list-price,
.browsing-list-item-price {
  text-align: right;
}

.home-list-item-price-value,
.browsing-list-item-price-value {
  font-size: em(32);
  line-height: 1;
  font-weight: 400;
}

.home-list-listing-shape-value,
.browsing-list-item-listing-shape-value {
  font-size: em(24);
  line-height: 1;
  font-weight: 400;
}

.home-list-price-quantity,
.browsing-list-item-price-quantity {
  @include ellipsis;
}

.home-no-listings {
  @include border-radius($default-border-radius);
  padding: lines(0.5) lines(1);
  background: $highlight;
}

.home-categories-link {
  display: block;
  color: $body;
  text-transform: uppercase;

  &.selected {
    font-weight: bold;
  }
}

.home-categories-main {
  @extend .home-categories-link;

  &.selected.has-subcategories {
    border-bottom: 1px solid $border;
  }
}

.home-categories-sub {
  @extend .home-categories-link;
  font-size: 14px;
  margin-left: lines(0.5);
}

.home-toolbar-toggle-container {
  margin-bottom: lines(0.5);
}

#pageless-loader {
  padding-top: lines(0.5);
  clear: both;
}

/* Filters */

.custom-filter {
  margin-bottom: lines(1);
}

.custom-filter-title {
  font-weight: 700;
  @include title-border;
}

.custom-filter-options {
  &.scrollable {
    max-height: 180px;
    overflow-y: scroll;
  }
}

.custom-filter-checkbox-label {
  margin: 0;
}

.custom-filter-checkbox-label-text {
  font-weight: 400;
  margin-left: lines(0.125);
}


////////////////////////////////////////////////
// New list item elements (distance included) //
////////////////////////////////////////////////

.browsing-list-item {
  position: relative;
  padding-bottom: lines(0.5);
  margin-bottom: lines(0.5);
  border-bottom: 1px solid $border;
  min-height: lines(3.5);

  @include media(tablet) {
    padding-bottom: lines(1);
    margin-bottom: lines(1);
    min-height: lines(6);
  }
}

.browsing-list-item-image-container {
  position: absolute;
  width: $home-list-image-size-mobile;
  height: $home-list-image-size-mobile;

  @include media(tablet) {
    height: $image-height;
    width: $image-width;
  }
}

.browsing-list-item-image-desktop {
  display: none;
  @include media(tablet) {
    display: block;
  }
}

.browsing-list-item-image-mobile {
  display: block;
  @include media(tablet) {
    display: none;
  }
}

.browsing-list-item-details {
  height: 100%;
  min-height: $home-list-image-size-mobile;
  padding-bottom: 40px;
  position: relative;
  margin-left: $home-list-image-size-mobile + $home-list-image-padding-mobile;

  @include media(tablet) {
    min-height: $image-height;
    margin-left: $image-width + $image-padding;
  }
}

.browsing-list-item-details-right {
  width: 142px;
  float: right;
  display: none;
  margin-left: lines(1);
  @include media(desktop) {
    display: block;
  }
}

.browsing-list-item-details-container {
  margin-left: $image-padding;

  @include media(tablet) {
    margin-left: $home-list-image-padding-mobile;
  }
}

.browsing-list-item-distance {
  @include small-type;

  @include media(tablet) {
    @include normal-type;
  }
}

.browsing-list-item-author {
  vertical-align: top;
  position: absolute;
  left: 0px;
  bottom: 0;
}

//////////////////////////////////////////////////
// Fix for fastclick & google autocomplete bug  //
// https://github.com/ftlabs/fastclick/pull/347 //
//////////////////////////////////////////////////

.pac-item span {
  pointer-events: none;
}

.left_login {
  border: 1px solid #FF3737;
  padding: 9px 34px;
  background: #fff;
  color: #FF3737;
  border-radius: 4px;
  margin-left: 15px;
  height: auto;
  line-height: normal;
  &:hover {
    color: #fff;
    background: #FF3737;
  }
}

.right_login {
  border: 1px solid #FF3737;
  padding: 9px 34px;
  background: #FF3737;
  color: #fff;
  border-radius: 4px;
  margin-left: 10px;
  height: auto;
  line-height: normal;
  &:hover {
    border: 1px solid #FF3737;
    background: #fff;
    color: #FF3737;
  }
}

.header-menu-container.hidden {
 display: none; 
}

.header-right.header-padding.visible-tablet.hidden {
  display: none !important;
}

.header.header.custom_header {
  height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  a#new-listing-link {
    margin: 0px;
    background: transparent;
    color: #040D33;
  }
  .header-left.header-logo-container {
    .header-logo {
      margin: 0px;
      height: auto;
      span.header-wide-logo-text.visible-tablet {
        height: auto;
        margin: 0px;
      }
    }
  }
}

.header-left.header-logo-container.left_searchbar {
  max-width: 42em;
  margin-left: 1.2em;
  width: 46%;
  border: 1px solid #AFB4B9;
  height: 40px;
  border-radius: 4px;
  @media (max-width: 992px) {
    margin-left: 0px;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .search-form-input {
    float: left;
    height: 38px;
    padding: 0px;
    width: 10%;
    .action-button {
      margin: 0px;
      background: transparent;
      color: #595C64;
      height: 38px;
      @media (max-width: 480px) {
        padding-left: 0px;
      }
      img {
        width: 21px;
      }
    }
  }
  .search-form-input.search-form-text-field {
    float: left;
    width: 90%;
    height: 100%;
    input {
      border: none;
      height: 100%;
      outline: none;
      min-height: 38px;
      padding-left: 15px;
    }
  }
}

.main_container {
  .col-6 {
    padding: 0px;
  }
  .left_data {
    background-image: asset-url('left_image.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 969px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 480px) {
      width: 100%;
      height: 90vh;
    }
    .contain_data {
      margin: 0 auto;
      max-width: 40vw;
      @media (max-width: 480px) {
        max-width: 80vw;
      }
    }
    .headline {
      font-family: 'NotoSans';
      font-weight: 700;
      font-size: 4.8vmax;
      line-height: 8.2vmax;
      color: #fff;
      @media (max-width: 480px) {
        font-size: 7.8vmax;
        line-height: 13.2vmax;
      }
    }
    .semi-headline {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 2.5vmax;
      line-height: 4vmax;
      color: #293462;
      @media (max-width: 480px) {
        font-size: 3.5vmax;
        line-height: 6vmax;
      }
    }
    .description {
      font-weight: 600;
      font-size: 1vmax;
      line-height: 1.7vmax;
      color: rgba(0, 0, 0, 0.9);
      margin-top: 10px;
      @media (max-width: 480px) {
        font-size: 2.4vmax;
        line-height: 3vmax;
      }
    }
  }
  .right_data {
    background-image: asset-url('right_image.png');
    background-position: 0 4px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 969px;
    @media (max-width: 480px) {
      display: none;
    }
  }
}

.search_bar {
  background: #fff;
  display: flex;
  height: 62px;
  padding: 10px;
  border-radius: 4px;
  margin-top: 100px;
  @media (max-width: 480px) {
    margin-top: 2em;
  }
  .search_icon {
    width: 10%;
    .action-button {
      background: transparent;
      margin: 0;
      padding: 0px;
      width: 100%;
      padding-top: 4px;
      img {
        @media (max-width: 992px) {
          width: 20px;
          margin-top: 8px;
        }
        @media (max-width: 480px) {
          width: 30px;
          margin-top: 3px;
        }
      }
    }
  }
  .input_search {
    width: 90%;
    input {
      outline: none;
      border: none;
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.7);
      flex: none;
      order: 0;
      flex-grow: 0;
      padding-left: 5px;
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
}

.categories_section {
  float: left;
  width: 100%;
  margin-top: 107px;
  @media (max-width: 480px) {
    margin-top: 3em;
  }
  .category_heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 87px;
    color: #040D33;
    margin-bottom: 58px;
    @media (max-width: 480px) {
      font-size: 38px;
      line-height: 65px;
      margin-bottom: 40px;
    }
  }
  .grid_items {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    .column-4 {
      padding: 0px;
      width: 32%;
      @media (max-width: 480px) {
        width: 100%;
      }
    }
    .category_frame {
      padding: 10px;
      background: #FFFFFF;
      box-shadow: 0px 0px 10px #eee;
      margin-bottom: 10px;
      .cat-image {
        width: 100%;
        img {
          width: 100%;
          height: 23vmax;
          @media (max-width: 480px) {
            height: 70vmax;
          }
        }
      }
      .text_content {
        font-weight: 600;
        font-size: 2.1vmax;
        line-height: 60px;
        color: #040D33;
        margin-top: 36px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 480px) {
          font-size: 7.1vmax;
          margin-top: 30px;
        }
        img {
          width: 32px;
          height: 16px;
          margin-top: 25px;
        }
      }
    }
  }
}
.low_content {
  padding: 2px 30px;
  float: left;
}

.toolkit_section_hero {
  padding: 113.5px 40px;
  position: relative;
  border-radius: 10px;
  background-image: asset_url('tootlkit.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 101px;
  @media (max-width: 480px) {
    background: #000;
    padding: 2em;
    margin-top: 2em;
    border-radius: 10px;
  }
  &:before {
    content: '';
    background: linear-gradient(89.32deg, rgba(45, 21, 21, 0) 35.89%, #272109 51.77%, #000000 99.88%); filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @media (max-width: 480px) {
      border-radius: 10px;
    }
  }

  .hero_content {
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    color: #FFFFFF;
    position: relative;
    width: 50%;
    margin: 0 0 0 auto;
    @media (max-width: 480px) {
      font-size: 18px;
      line-height: 32px;
      width: 100%;
    }
  }
}

.city_browse {
  margin-top: 102px;
  float: left;
  width: 100%;
  @media (max-width: 480px) {
    margin-top: 2em;
  }
  .header_text {
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #040D33;
    margin-bottom: 70px;
    @media (max-width: 480px) {
      margin-bottom: 20px;
    }
  }
  .grid_cities {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    a:nth-child(1) .city_1 {
      background-image: asset_url('image1.png');
    }
    a:nth-child(2) .city_1 {
      background-image: asset_url('Roundedrectangle.png');
    }
    a:nth-child(3) .city_1 {
      background-image: asset_url('image2_grid.png');
    }
    a:nth-child(4) .city_1 {
      background-image: asset_url('image13.png');
    }
    a:nth-child(5) .city_1 {
      background-image: asset_url('image3-3.png');
    }
    a:nth-child(6) .city_1 {
      background-image: asset_url('image3-4.png');
    }
    a:nth-child(7) .city_1 {
      background-image: asset_url('image3-5.png');
    }
    a:nth-child(8) .city_1 {
      background-image: asset_url('image3-6.png');
    }
    a:nth-child(9) .city_1 {
      background-image: asset_url('image3-7.png');
    }
    
    a {
      width: 32.19%;
      height: 252px;
      @media (max-width: 992px) {
        width: 31.19%
      }
      @media (max-width: 480px) {
        width: 100%
      }
    }
    .city_1 {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
    .text_content {
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      border-radius: 10px;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      color: #fff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }
}

.tools_rent_section {
  background: rgba(4, 0, 0, 0.9);
  margin-top: 101px;
  padding: 0px;
  float: left;
  @media (max-width: 480px) {
    margin-top: 2em;
    .both_content {
      flex-wrap: wrap;
      .lefttext-area {
        width: 100% !important;
        padding: 2em 2em !important;
      }
    }
  }
  .both_content {
    display: flex;
    .lefttext-area {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 5em 5em;
      .content_header_text {
        font-weight: 600;
        font-size: 50px;
        line-height: 74px;
        color: #FFFFFF;
        @media (max-width: 480px) {
          font-size: 34px;
          line-height: 56px;
        }
      }
      .bottom_icon {
        width: 100%;
        text-align: center;
        img {
          @media (max-width: 480px) {
            width: 100%;
          }
        }
      }
      .bottom_small_text {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #FDFDFD;
        margin-top: 15px;
        @media (max-width: 480px) {
          font-size: 18px;
          line-height: 26px;
        }
      }
      .rent_button {
        background: #FF3737;
        border-radius: 4px;
        color: #fff;
        width: 225px;
        height: 40px;
        margin-top: 40px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .right_content_image {
      width: 50%;
      padding: 25px 84px 25px 0px;
      @media (max-width: 480px) {
        width: 100%;
        padding: 15px;
        .hexagon {
          height: 15em !important;
        }
      }
      .hexagon {
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        background: asset_url("imagefix6.png") no-repeat;
        background-size: cover;
        margin: 10px auto;
        width: 100%;
        height: 517px;
        img {

        }
      }
    }
  }
}

.community_content {
  padding: 6em 20px;
  float: left;
  .header_text_community {
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #040000;
    max-width: 32em;
    margin: 0 auto;
  }
}

.custom_footer {
  background: #040000;
  float: left;
  width: 100%;
  .footer_content {
    display: flex;
    width: 100%;
    padding: 4em 3em;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: 992px) {
      padding: 4em 1em;
    }
    .categories {
      color: #fff;
      .heading {
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: #E3EDEB;
      }
      .category_link {
        padding: 10px 0px;
      }
    }
  }
  .quick_links {
    color: #fff;
    .link_head {
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      color: #E3EDEB;
    }
    .link1 {
      padding: 10px 0px;
    }
  }
  .social_links {
    display: flex;
    justify-content: space-between;
    max-width: 13em;
    .insta_icon {
      padding: 0px 15px 0px 0px;
    }
  }
  .phone_contact {
    color: #fff;
    display: flex;
    margin-top: 24px;
    img {
      width: 13px;
      height: 23px;
      &.email {
        width: 20px;
        height: 17px;
        margin-top: 2px;
      }
    }
    
    .contact {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-left: 10px;
      a {
        color: #fff;
      }
    }
  }
}

a#inbox-link {
  line-height: normal;
  height: auto; 
}

.header-user-toggle.header-hover #header-user-mobile-anchor {
  .left {
    img {
      margin: 0px;
    }
  }
  .header-text-link {
    height: auto;
    line-height: 36px;
  }
}

.subscribe_content {
  display: flex;
  margin-top: 24px;
  input {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #BFC2C2;
    height: 41px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    outline: none;
    margin-right: 15px;
    background: transparent;
  }
  button {
    margin: 0px;
    background: #FF3737;
    border-radius: 4px;
  }
}

.center_contant_last {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #BFC2C2;
  padding-bottom: 4em;
}
